.content {
  display: grid;
  grid-template-areas: 
   "sidebar menubar"
   "sidebar containers";
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

.menubar {
  grid-area: menubar;
}

.sidebar {
  grid-area: sidebar;
  background-color: #212529;
  min-height: 100vh;
}

.containers {
  grid-area: containers;
  overflow-y: auto;
  background-color: #f8f9fa;
}

.card a{
  color: white;
  text-decoration: none;
}

